<% @posts.each do |post| %>
<ul>
  <%= render partial: "authors/author", locals: {post_author: post.author} %>
  <li> <%= post.author.name %></li>
  <li> <%= post.author.hometown %></li>
</ul>
  <%= post.title %>
  <%= post.content %>
<% end %>
